<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="3.1.0" targetFramework="xamarinmac20" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinmac20" />
  <package id="Plugin.Fingerprint" version="2.1.1" targetFramework="xamarinmac20" />
  <package id="SkiaSharp" version="1.68.1.1" targetFramework="xamarinmac20" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.macos" version="1.1.13" targetFramework="xamarinmac20" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinmac20" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="3.1.1.1-beta" targetFramework="xamarinmac20" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinmac20" />
  <package id="Xamarin.Essentials" version="1.5.2" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.11.982" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.5.0.495" targetFramework="xamarinmac20" />
</packages>